<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Amazon-Ember-Bold.ttf</string>
		<string>Bookerly-Regular.ttf</string>
		<string>DejaVuSansMono.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
		<string>audio</string>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.compendus.transcription</string>
		<string>com.compendus.edit-sync</string>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Compendus uses speech recognition to generate transcripts for audiobook lyrics display.</string>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
</dict>
</plist>
